notebooks
__pycache__
*./__pycache__
*/ckpt
*/logs
*.pth
.idea
*.jpg
*.png
*.vscode
*.pkl
*.pickle
*.bin
*.json
*.jsonl   
*.ipynb_checkpoints
# remoe folder notebok
notebooks
batch_*.py
*.idea
*.DS_Store
exp/
logs/
*/*.ipynb